

  <div>
 <h1>Contact Form</h1>
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]= "{exact : true}">Home</a>
<p>
    <a routerLink="register" routerLinkActive="active-link">Register</a>
</p>
<p>
    <a routerLink="login" routerLinkActive="active-link">Login</a>
</p>
    <p>
        <a routerLink="add-contact" routerLinkActive="active-link">Add Contact</a>
    </p>
    <p>
        <a routerLink="view-contact" routerLinkActive="active-link">View Contact</a>
    </p>
</div>