.active-link{
    color: lightblue;
}

div{
    background-color: #1f2933; 
    color: #ffffff; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem;
}

h1{
    font-weight: bold;
    font-size: 24px;

}

.header{
    z-index: 100;

}
