.example-form {
  max-width: 500px;
  margin: 0 auto;
  max-height: 92%;
  overflow-y: auto;
}

h3 {
  font-weight: bold;
}


.large-container {
  background-color: lightblue;
  height: 92%;
  display: flex;
  align-items: center;
}

.basic-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 18px;
}

.educational-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.professional-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
mat-form-field {
  width: 48%;
}
