
.example-form {
  max-width: 500px;
  margin: 0 auto;
  max-height: 96%;
  overflow-y: auto;
}
mat-label{
  border-width: none!important;
}

h3 {
  font-weight: bold;
}

mat-card{
  width:35rem

}
.large-container {
  background-color: lightblue;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 18px;
}

.educational-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.professional-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
mat-form-field {
  width: 48%;
}

// input[type="file"] {
//   margin-bottom: 10px;
// }

